
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Medicines Type

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">Medicine Type Insert</li>
    </ol>



    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>Insert Medicine Type</h3>
            <form name="sentMessage" id="contactForm" novalidate>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Type Name:</label>
                        <input type="tel" class="form-control" id="insertmedicinetypename" required data-validation-required-message="Please enter medicine_type name.">
                    </div>
                </div>

                <!-- For success/fail messages -->
                <a class="btn btn-primary" style="color:white" onclick="callMedicinetypeInsert();">Insert</a>

            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->



<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/Master.js"></script>
<script src="~/js/Medicinetype.js"></script>
