
@{
    ViewBag.Title = "Medicine_Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Medicines
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">Medicine Update</li>
    </ol>



    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>Update Medicine</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Name:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Type Name:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>



                <div class="control-group form-group">
                    <div class="controls">
                        <label>Product Content Value:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>


                <div class="control-group form-group">
                    <div class="controls">
                        <label>Product Content Type:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>



                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Packet Size:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Packet Price:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>


                <div class="control-group form-group">
                    <div class="controls">
                        <label>Manufacturer Name:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>


                <div class="control-group form-group">
                    <div class="controls">
                        <label>Generic Name:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Dosage:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Usage:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Medicine Side Effects:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label>Alternate:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>





                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

